 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
html, body, * {
  box-sizing: border-box;
  font-size: 16px;
  
}
html, body {
 
 background: #eaeffb;
}
button#myBtn {
    margin-top: 27px;
}
#filelist ul {
  list-style-type: none;
  text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 45px;
}
 
#filelist  h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
      margin: 0;
	  margin-top: 8px;
}
 
#filelist  li img {
  float: left;
  margin: 0 15px 0 0;
}
 
#filelist  li p {
	    font-size: 12px;
  margin: 0;
}
 
#filelist li {
      padding: 0;
    overflow: auto;
    background: white;
    margin: 35px 0px;
    border-radius: 8px;
	box-shadow: 0 5px 7px -1px rgb(51 51 51 / 23%);
	
}
 
#filelist li:hover {
  background: #c8d9fb;
  cursor: pointer;
  transform: translateY(3px);
    transition-duration: .35s;
}

input.field-input {
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 9px;
    float: left;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #cbcbcb;
    background-color: whitesmoke;
    padding: 4px;
}

label.field-label {
    text-align: left!important;
    padding: 0px!important;
    border: 0!important;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

label#file-drag {
    margin-bottom: 16px;
}


.modaledit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  padding-bottom: 100px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modaledit h2 {
  font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 1;
    color: #54596c;
    margin-bottom: 34px;
    margin-top: 4px;
    padding-bottom: 14px;
    text-align: left;
    border-bottom: 1px solid #9595956e;
}




.uploader-edit {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader-edit label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader-edit label:hover {
  border-color: #454cad;
}
.uploader-edit label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader-edit label.hover #start-edit i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader-edit #start-edit {
  float: left;
  clear: both;
  width: 100%;
}
.uploader-edit #start-edit.hidden {
  display: none;
}
.uploader-edit #start-edit i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader-edit #response-edit {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response-edit.hidden {
  display: none;
}
.uploader-edit #response-edit #messages-edit {
  margin-bottom: 0.5rem;
}
.uploader-edit #file-image-edit {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader-edit #file-image-edit.hidden {
  display: none;
}
.uploader-edit #notimage-edit {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader-edit #notimage-edit.hidden {
  display: none;
}
.uploader-edit progress,
.uploader-edit .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader-edit .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader-edit .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader-edit .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader-edit input[type=file] {
  display: none;
}
.uploader-edit div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader-edit .btn {
 display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}
img#editfilebtn.remove-background {
    background: none!important;
    border: 0!important;
}
img#editfilebtn.remove-background:hover {
    background: none!important;
    border: 0!important;
}
/*///////////////////////////////////////////////*/







.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  padding-bottom: 100px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 44%;
  display: inline-block;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  height: 100%;
  text-align: center;
}
form#file-upload-form input[type="submit"] {
    width: 100%;
    padding: 9px;
    background: #484848;
    border: 0;
    color: white;
    border-radius: 3px;
    margin-top: 5px;
}

.modal h2 {
  font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 1;
    color: #54596c;
    margin-bottom: 34px;
    margin-top: 4px;
    padding-bottom: 14px;
    text-align: left;
    border-bottom: 1px solid #9595956e;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
 display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}
  
/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

/* CSS */
.button-44 {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}
img#editfilebtn {
    float: right!important;
    margin: 0!important;
    background: #eaeffb;
    border-radius: 50%;
    border: 1px dashed #83a2e1;
}
.status > img#editfilebtn:hover {
    background: #fdebdd!important;
    border: 1px dashed #ff7001!important;
}
.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}
@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}